{
  "plugins": [
    [
      "import",
      {
        "libraryName": "auto-ui",
        "libraryDirectory": "es"
      },
      "auto-ui"
    ],
    [
      "import",
      {
        "libraryName": "at-business-components",
        "libraryDirectory": "es"
      },
      "at-business-components"
    ],
    [
      "import",
      {
        "libraryName": "react-use",
        "libraryDirectory": "lib",
        "camel2DashComponentName": false
      },
      "react-use"
    ]
  ]
}
