
// 该文件请勿修改，脚手架自动生成、自动更新

.x-com-auth-tips-page {
  background: #fff;
  .x-app-body {
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .x-com-auth-icon {
    display: block;
    width: 320px;
    height: 320px;
    margin: -50px auto 60px auto;
  }
  .x-com-auth-tips {
    color: #333;
    font-size: 28px;
    text-align: center;
    margin-bottom: 60px;
  }
  .x-com-auth-button {
    width: 300px;
    margin: 0 auto;
  }
}
